.header-container{
    height: 100px;
    max-width: 980px;
    padding-top: 5px;
}

.header-title{
    color: white;
    float: left;
    text-align: right;
}

.header-disclaimer{
    text-align: right;
    color: white;
    float: right;
    text-align: right;
    width:300px;
    padding-right: 5px;
}