
.header-container{
    top:0;
    height: 100px;
    width: 100%;
    padding-top: 5px;
    background-color: #383838;
}

.header-title{
    color: white;
    float: left;
    text-align: right;
}

.header-disclaimer{
    text-align: right;
    color: white;
    float: right;
    text-align: right;
    width:300px;
    padding-right: 5px;
}